/* global values */
:root {
    --dark-blue: #224f72;
    --mid-blue: #328bc4;
    --light-blue: #5cbcd4;
    --white: #ffffff;
    --blue-white: #e3f7ff;
    --black: #000000;
    --header: 'Poppins';
    --text: 'Roboto Slab';
    --script: 'Clicker Script';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, var(--blue-white), var(--white));
}

/* nav bar and banner */
#navBar {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(to right, var(--dark-blue), var(--mid-blue));
    opacity: .8;
    padding: 0.8rem;
}
#navBar a {
    padding: 0.8rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--text), serif;
    color: var(--blue-white);
    opacity: 1;
}
#navBar a:hover {
    color: var(--white);
    background-color: var(--black);
}
#banner {
    width: 100%;
    min-height: 300px;
    position: relative;
    margin: 0;
    padding: 0;
}
#name1 {
    font-family: var(--header), sans-serif;
    font-size: 4rem;
    position: absolute;
    top: 10%;
    right: 4.5%;
    background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#name2 {
    position: absolute;
    top: 18%;
    right: 4%;
    font-family: var(--script), sans-serif;
    font-size: 4rem;
    background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}    
/* main content */
h2 {
    padding-left: 2rem;
    font-family: var(--header);
    font-size: 3rem;
    color: var(--dark-blue);
}
img {
    padding: 1rem;
    height: auto;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto; 
}
p {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    align-self: center;
    color: var(--dark-blue);
    padding: 1rem 2rem 2rem 2rem;
    font-size: 1rem;
}

/* testimonials */
#testimonialsBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: white;
}
#logo {
    height:max-content;
    width:auto;
    justify-self: center;
    opacity: 0.7;
}
#testimonialsText {
    justify-self: center;
    color: var(--dark-blue);
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#testimonials {
    padding-bottom: 1rem;
}
#cta1 {
    width: auto;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
    font-family: var(--text), serif;
    font-size: 1.2rem;
    font-weight: 400;
    background-image: linear-gradient(to right, var(--dark-blue), var(--mid-blue));
    color: var(--blue-white);
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: 1px solid var(--dark-blue);
    box-shadow: 2px 2px 3px #000000;
}
#cta1:hover {
    color: var(--light-blue);
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-content: center;
    padding: 1rem;
    font-family: var(--text);
}
iframe {
    padding: 0.5rem;
}
h3 {
    text-align: center;
    font-family: var(--header);
}