/* global values */
:root {
    --dark-blue: #224f72;
    --mid-blue: #328bc4;
    --light-blue: #5cbcd4;
    --white: #ffffff;
    --blue-white: #e3f7ff;
    --black: #000000;
    --header: 'Poppins';
    --text: 'Roboto Slab';
    --script: 'Clicker Script';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(to right, var(--blue-white), var(--white));
}

/* nav bar and banner */
#navBar {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(to right, var(--dark-blue), var(--mid-blue));
    opacity: .8;
    padding: 0.8rem;
}
#navBar a {
    padding: 0.8rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--text), serif;
    color: var(--blue-white);
    opacity: 1;
}
#navBar a:hover {
    color: var(--white);
    background-color: var(--black);
}
#banner {
    width: 100%;
    min-height: 300px;
    position: relative;
    margin: 0;
    padding: 0;
}
#name1 {
    font-family: var(--header), sans-serif;
    font-size: 4rem;
    position: absolute;
    top: 10%;
    right: 4.5%;
    background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#name2 {
    position: absolute;
    top: 18%;
    right: 4%;
    font-family: var(--script), sans-serif;
    font-size: 4rem;
    background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}    

/* main content of home page */
#salesContainer {
    display: flex;
    flex-direction: column;
}
.pitchBorder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    background-image: linear-gradient(to right, var(--blue-white), var(--white));
}
#pitchBorder2 {
    background-image: linear-gradient(to left, var(--blue-white), var(--white));
}
@media screen and (max-width: 400px) {
    .pitchBorder {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0.5rem;
    }
}
img {
    padding: 1rem;
    height: auto;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto; 
}
.pitchText {
    padding: 1rem;
    margin-top: auto;
    margin-bottom: auto;
}
.headline {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    padding: 0.5rem;
    background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
p {
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    align-self: center;
    color: var(--dark-blue);
    padding: 1rem 2rem 2rem 2rem;
    font-size: 0.9rem;
}

/* testimonials */
#testimonialsBox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    background-color: white;
}
#logo {
    height:max-content;
    width:auto;
    justify-self: center;
    opacity: 0.7;
}
#testimonialsText {
    justify-self: center;
    color: var(--dark-blue);
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
#testimonials {
    padding-bottom: 1rem;
}
#cta1 {
    width: auto;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    justify-self: center;
    font-family: var(--text), serif;
    font-size: 1.2rem;
    font-weight: 400;
    background-image: linear-gradient(to right, var(--dark-blue), var(--mid-blue));
    color: var(--blue-white);
    border-radius: 0.2rem;
    padding: 0.5rem;
    border: 1px solid var(--dark-blue);
    box-shadow: 2px 2px 3px #000000;
}
#cta1:hover {
    color: var(--light-blue);
}

/* statistics boxes */
.numbersColumn {
    float: left;
    width: 25%;
    padding: 0 5px;
    margin-top: 1rem;
}
.numbersRow {
    margin: 0 -5px;
}
.numbersRow:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 400px) {
    .numbersColumn {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
}
.numbersCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-image: linear-gradient(to right, var(--dark-blue), var(--mid-blue));
    color: white;
}
.fa {
    font-size:30px;
    color: var(--blue-white);
    text-align: center;
}
.numbersH3, .numbersP {
    color: var(--blue-white);
    font-size: 0.75rem;
    text-align: center;
}

