#banner {
    background-image: url('../../img/index1.jpg');
    min-height: 800px;
    width: 100%;
    background-position: center;
    background-repeat: none;
    background-size: cover;
    position: relative;
  }
  
  #name1 {
    font-family: 'Poppins', sans-serif;
    font-size: 5rem;
    position: absolute;
    top: 10%;
    right: 4%;
    background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  #name2 {
    position: absolute;
    top: 20%;
    right: 4%;
    font-family: var(--script), sans-serif;
    font-size: 5rem;
    background-image: linear-gradient(to right, var(--dark-blue), var(--light-blue));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
  #cta1 {
    position: absolute;
    top: 35%;
    right: 5%;
    width: auto;
    align-self: center;
    font-family: var(--text), serif;
    font-size: 1rem;
    font-weight: 400;
    background-image: linear-gradient(to right, var(--dark-blue), var(--mid-blue));
    color: var(--blue-white);
    border-radius: 0rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--dark-blue);
    box-shadow: 3px 3px 6px #000000;
                /* -3px -3px 6px #000000; */
    
  }
  
  #cta1:hover {
    color: var(--light-blue);
  }
  
