.numbersColumn {
    float: left;
    width: 25%;
    padding: 0 5px;
    margin-top: 1rem;
  }
  
  .numbersRow {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .numbersRow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .numbersColumn {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }
  
  .numbersCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-image: linear-gradient(to right, var(--dark-blue), var(--mid-blue));
    color: white;
  }
  
  .fa {
    font-size:30px;
    color: var(--blue-white);
  }
  
  .numbersH3, .numbersP {
    color: var(--blue-white);
    font-size: 0.75rem;
  }