:root {
  --dark-blue: #224f72;
  --mid-blue: #328bc4;
  --light-blue: #5cbcd4;
  --white: #ffffff;
  --blue-white: #e3f7ff;
  --black: #000000;
  --headers: 'Poppins';
  --text: 'Roboto Slab';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
